<div class="mt-4 container">
    <div class="alert alert-info" role="alert">
        <h1 class="text-center">Add new expense</h1>
        <button class="btn btn-lg btn-primary" onclick="toggle_function()">Toggle Split</button><br><br>
        <div id= "equal" >
            <%= form_with url: expenses_path,  method: :post, local: true  do |f|  %>

                <%= f.hidden_field :group_id, :value => @group.id %>
                <%= f.hidden_field :type, :value => "equal" %>
                
                <h4 class="alert-heading text-center">Equal Split</h4>
                <h4 class="alert-heading">Paid by:</h4>
                <% @group.users.uniq.each do |u| %>
                    <%= f.radio_button :email, u.email %> 
                    <%= f.label(:email, u.email ) %><br>
                <% end %>

                <h4 class="alert-heading mt-4">Split Between:</h4>
                <% @group.users.uniq.each do |u| %>
                    <%= f.check_box u.id %>
                    <%= f.label(u.id, u.email) %><br>
                <% end %>

                <h4 class="alert-heading mt-4">Paid amount:</h4>
                <div class="form-group col-md-6">
                    <%= f.number_field :total , :class => 'form-control' %>
                </div>

                <div class="actions mt-2">
                    <%= f.submit "Submit", :class => 'btn btn-primary btn-block mb-4' %>
                </div>
                
            <% end %>    
        </div>

        <div id= "unequal" style="display: none">
            <%= form_with url: expenses_path,  method: :post, local: true  do |f|  %>
                <%= f.hidden_field :group_id, :value => @group.id %>
                <%= f.hidden_field :type, :value => "unequal" %>
                <h4 class="alert-heading text-center">Unequal Split</h4>
                <h4 class="alert-heading">Paid by:</h4>
                <% @group.users.uniq.each do |u| %>
                    <%= f.radio_button :email, u.email %> 
                    <%= f.label(:email, u.email ) %><br>
                <% end %>

                <h4 class="alert-heading mt-4">Paid amount:</h4>
                <div class="form-group col-md-6">
                    <%= f.number_field :total , :class => 'form-control' %>
                </div>

                <h4 class="alert-heading mt-4">Fill the share of each member:</h4>
                <div class="form-group col-md-6">
                    <% @group.users.uniq.each do |u| %>
                        <%= f.number_field u.id, :class => 'form-control', placeholder: "0" %>
                        <%= f.label(u.id, u.email) %><br>
                    <% end %>
                </div>

                <div class="actions mt-2">
                    <%= f.submit "Submit", :class => 'btn btn-primary btn-block mb-4' %>
                </div>
                <% end %>
        </div>
            
    </div>
</div>

<script>
function toggle_function() {
  var x = document.getElementById("unequal");
  var y = document.getElementById("equal");
  y.style.display = "none";
  if (x.style.display === "none") {
    x.style.display = "block";
    y.style.display = "none";
  } else {
    x.style.display = "none";
    y.style.display = "block";
  }
}
</script>